*{
    padding:0;margin:0;box-sizing:border-box}
body{
    scroll-behavior: smooth;
    overflow-x:hidden;

}
header{
    width:100%;
    height:90vh;
    background-size: cover;
    background-image: url('https://wallpapercave.com/wp/pF4cbdx.jpg');
    background-attachment:fixed;
    
}
nav{
width :100%;
height:80px;
background: white;
color:black;
justify-content: space-between;
display:flex;
align-items: center;
padding: 0px 80px;
position:fixed;
top:0;
}
.logo{
    font-size: 20px;
    color-interpolation-filters: auto;
    font-size:2.5em;
    font-style: italic;
color: black;


}
.menu a{
    text-decoration: none;
    color:black;
    padding:10px,20px;
    font-family: sans-serif;
    font-size: 20px;
    

    
}
.menu a:first-child{
    color:#e74c3c;
}
.menu a:hover{
    color:#e74c3c;
}
.logo span{
    color:red;
}
.icon i{
    font-size: 20px;
}
.icon a{
    text-decoration: none;
    color:white;
    background: #e74c3c;
    padding:10px,20px;
    margin-left:30px;
    border-radius: 5px;
}
.h-text{
    color:white;
    max-width: 700px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);

}
#camera{
    font-size: 40px;
    margin-bottom: 10px;
    color: #e74c3c;

}
.h-text h1{
    font-size: 30px;
    color:aquamarine;
    font-family: sans-serif;
line-height: 1.5em;
}
.h-text input{
    width: 60%;
    padding:20px;
    border:none;
    outline:none;
    border-radius:8px;
    font-size: 20px;
}
.h-text button{
    width:30%;
    padding: 20px;
    background:#e74c3c;
    color: white;
    border:none;
    outline:none;
    border-radius:8px;
    font-size: 20px;
}
.filter-gallery{
    padding: 100px;
}
.portfolio-menu{
    text-align: center;
    margin-bottom: 20px;
}
.portfolio-menu ul li{
    list-style: none;
    display:inline-block;
    margin:20px 0px;
    font-size:20px;
    font-weight:bold;
    font-family: sans-serif;
    padding: 10px 20px;
    cursor:pointer;
    transition: 0.5s ease;
}
.portfolio-menu ul li:hover{
    color:white;
    background: #e74c3c;
border-radius: 8px;
    

}
li.active{
    color:white;
    background: #e74c3c;
border-radius: 8px;
}
.portfolio-item{
    width: 100%;
}




.portfolio-item.item img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    float:left;
}
.itemwedding img{
    border:100%;
    height:100%;
    border-radius:8px;
    float:left;
    position: fixed;
}


