<style>
     .myblock{
         color:orchid;
         background-color: aquamarine;
         font-size: 35px;
     }
     
         .mycantainer{
             position:absolute;
             height: 200px;

         }
     

    </style>